# Visual Studio temporary and build files
.vs/
# Build folders
Debug/
Release/
x64/
x86/


# User-specific files
*.user
*.suo


# NuGet Packages directory (no need to track compiled library folders)
packages/

# Compiled binary assets
*.exe
*.dll
*.pdb
*.ilk