# Visual Studio temporary and build files
.vs/
Debug/
Release/
x64/
*.user
*.aps
*.suo
*.log

# NuGet Packages directory (no need to track compiled library folders)
packages/

# Compiled binary assets
*.exe
*.dll
*.pdb
*.ilk